/* Some general styling for the body, header and footer elements */

* {
    margin: 0;
    padding: 0;
}

header,
body,
footer {
    background-color: #FFFFFF;
}

body {
    font-family: 'Dongle', sans-serif;
    font-size: 2.5vw;
}

/* Styling of logo */

.logo {
    text-align: center;
    font-size: 2.5vw;
    margin: auto;
}

/* Styling of Game Area */

.game-area {
    background-color: #DADDE2;
    width: 50%;
    margin: auto;
    border: 3px groove #5E5E5E;
    border-radius: 10px;
    padding: 20px;
}

#welcome {
    text-align: center;
    line-height: 3vh;
    padding: 1rem 5rem;
}

#goal {
    background-color: #B1BDC5;
    width: 40%;
    margin: auto;
    text-align: center;
    line-height: 3vh;
    padding: 1rem;
    border: 3px groove #5E5E5E;
    border-radius: 10px;
}

#counter {
    background-color: #B1BDC5;
    width: 40%;
    margin: auto;
    text-align: center;
    line-height: 3vh;
    padding: 1rem;
    border: 3px groove #5E5E5E;
    border-radius: 10px;
}

#remember {
    font-size: 1.3vw;
    color: #900000;
}

#timecounter,
#timegoal {
    font-size: 3.5vw;
    margin: 0.75vw;
}

#results {
    background-color: #B1BDC5;
    width: 40%;
    margin: auto;
    text-align: center;
    line-height: 3vh;
    padding: 1rem;
    border: 3px groove #5E5E5E;
    border-radius: 10px;
}

#resetmessage {
    font-size: 1.3vw;
}

#resetbutton {
    border: 3px groove #5E5E5E;
    background-color: #DADDE2;
    padding: 0.25rem 0.75rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 10px;
}

footer {
    font-size: 1.5vw;
    text-align: center;
    margin: 20px;
}

/* Media queries for responsive design on screens with smaller width than 940px */

@media only screen and (max-width: 1080px) {
    body {
        font-size: 3vw;
    }

    .game-area {
        width: 60%;
        padding: 12.5px;
    }

    #welcome {
        text-align: center;
        width: 90%;
        padding: .5rem 2rem;
    }

    #goal,
    #counter,
    #results {
        width: 45%;
    }

    #timecounter,
    #timegoal {
        font-size: 7.5vw;
        margin: 0.45vw;
    }

    #remember,
    #resetmessage {
        font-size: 2vw;
    }
}

/* Media queries for responsive design on screens with smaller width than 940px */

@media only screen and (max-width: 650px) {
    body {
        font-size: 3.5vw;
    }

    .game-area {
        width: 60%;
        padding: 5px;
    }

    #welcome {
        text-align: center;
        width: 90%;
        padding: .25rem 1.25rem;
    }

    #goal,
    #counter,
    #results {
        font-size: 5vw;
        width: 70%;
        text-align: center;
        padding: .5rem;
    }

    #timecounter,
    #timegoal {
        font-size: 7.5vw;
        margin: 0.45vw;
    }

    #remember,
    #resetmessage {
        font-size: 3.5vw;
    }

    #resetbutton {
        font-size: 2vw;
    }
}