/* Some general styling for the body, header and footer elements */

* {
    margin: 0;
    padding: 0;
}

header,
body,
footer {
    background-color: #FFFFFF;
}

body {
    font-family: 'Dongle', sans-serif;
    font-size: 2vw;
}

/* Styling of logo */

.logo {
    text-align: center;
    font-size: 2.5vw;
    margin: auto;
}

/* Styling of Game Area */

.game-area {
    background-color: #DADDE2;
    width: 50%;
    margin: auto;
    border: 3px groove #5E5E5E;
    border-radius: 10px;
    padding: 20px;
}

#welcome {
    text-align: center;
    line-height: 2.5vh;
    padding: 10px;
}

#goal {
    background-color: #B1BDC5;
    width: 40%;
    margin: auto;
    text-align: center;
    line-height: 2.5vh;
    padding: 10px;
    border: 3px groove #5E5E5E;
    border-radius: 10px;
}

#counter {
    background-color: #B1BDC5;
    width: 40%;
    margin: auto;
    text-align: center;
    line-height: 2.5vh;
    padding: 10px;
    border: 3px groove #5E5E5E;
    border-radius: 10px;
}

#remember {
    font-size: 1.3vw;
    color: #900000;
}

#timegoal, #timecounter {
    font-size: 3.5vw;
    margin: .75vw;
}

#results {
    text-align: center;
    line-height: 2.5vh;
    padding: 10px;
}

footer {
    text-align: center;
    margin: 20px;
}